/* Здесь будут представлены стандартные для всего сайта стили */
body{
    /* background: content-box linear-gradient(white, lightblue); */
    background: #eeeeee;
}
header{
    background: white;
    padding-left:10%;
    padding-top:0.5em;
    padding-bottom: 0.5em;
}
a{
    color: black;
}
h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif };

.container {
    position: relative;
    color: white;
}
.blank_button{
    border: none;
    background: none;
}
.centered {
    position: absolute;
    font-size: xx-large;
    top: 50%;
    left: 35%;
    /* transform: translate(-50%, -50%); */
}
.colorless{
    color:#000000;
}
.section {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .title{
    color:#000000;
    font-size:xx-large;
    font-weight:800;
    padding-left:35%;
 }
 .spec{
    color:#000000;
    font-weight:750;
    padding-left:10%;
 }
 .maintext{
    color:#000000;
    font-size:medium;
    padding-left:10%;
 }
 .logo {
    z-index: 20;
    transition: 1s;
 }
 .bg {         
    position: relative;
    width: 100%;
    height: 100%;
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/A_generalization_of_the_Simson_line.svg/220px-A_generalization_of_the_Simson_line.svg.png); */
    background-size: cover;
    transition: 1s;
    /* filter: blur(10px); */
 }
 /*ПРИ НАВЕДЕНИЕ НА ЛОГОТИП ИЗМЕНЯЕМ ЕГО СТИЛИ*/
 .logo:hover {
    filter: blur(3px);
    transform: scale(1.2);
    opacity: 0.8;
 }
 /*ПРИ НАВЕДЕНИЕ НА ЛОГОТИП ИЗМЕНЯЕМ СТИЛИ ЗАДНЕГО ФОНА*/
 .logo:hover~.bg {
     filter: blur(0);
     transform: scale(1.2);
 }
 .fold {
	/* background: -webkit-linear-gradient(top, #e5e5e5, #ccc); */
    background: #cccccc;
	padding: 10px;
    width: 65%;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.unfolder { display: none; }

.toggle-label {
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
}
.unfold-icon, .fold-icon {
  color: #999;
    /* fixed width to stop the icon from wiggling */
  /* width: 10px; */
  display: inline-block;
}
.unfolder ~ .fold {
  display: none;
}
.unfolder ~ label .fold-icon {
  display: none;
}

.unfolder:checked ~ .fold {
  display: block;
}
.unfolder:checked ~ label .fold-icon {
  display: inline-block;
}
.unfolder:checked ~ label .unfold-icon {
  display: none;
}